

scikit-image==0.18.1
scikit-learn
scipy==1.4.1
seaborn
Send2Trash==1.5.0
six==1.15.0
smart-open==3.0.0
snowballstemmer==2.0.0
sortedcontainers==2.2.2
Sphinx
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder
spyder-kernels
tb-nightly==2.4.0a20201028
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
tensorflow-gpu==2.2.0
tensorflow-gpu-estimator==2.2.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
tf-estimator-nightly==2.4.0.dev2020102301
tf-nightly==2.5.0.dev20201028
threadpoolctl
tifffile==2020.12.8
toml
tornado==6.0.4
tqdm==4.54.1
traitlets
tweepy==3.9.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
ujson
urllib3
wcwidth
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
xmldict==0.4.1
xmltodict==0.12.0
yapf
youtube-transcript-api==0.3.1
zipp
